{
  "openapi": "3.0.1",
  "info": {
    "title": "ICAPT",
    "description": "The iCAPT API allows you to integrate and interact the iCAPT system with any API-enabled Enterprise Resource Planning (ERP) system. The API would allow for you to perform the following functions within the Production and Inventory Modules of the iCAPT system:\n\n1.\tCreate, edit and delete Master Files and Transaction Files throughout the iCAPT system using HTTP verbs\n2.\tUpload Transaction History into your API-enabled ERP system. For example: Material Transactions and Job Transactions \n3.\tExtract transaction and file listings \n4.\tRead Master Data by ID\n\nUser may perform operation in iCAPT via API such as extract listing, read master data by ID, create master/transactional data, edit master/transaction data and delete data by using the HTTP verbs (GET, POST, PUT, and DELETE).",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://icapt-api.azure-api.net"
    }
  ],
  "paths": {
    "/warehouses": {
      "get": {
        "tags": [
          "Warehouse"
        ],
        "summary": "List Warehouses",
        "description": "This method allows the Site admin to generate the list of all items within the Warehouse List. \nNote: This generation is read-only and changes to this Warehouse should be made using the Update function.",
        "operationId": "get-warehouses",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWarehousesResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "whse_num": "MAIN",
                      "whse_name": "Main Warehouse",
                      "whse_address": "ABC Street",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Create Warehouse",
        "description": "The Warehouse List contains the collection of all the warehouse codes, description and addresses currently utilized by the business. For a warehouse to be available in the system record, the warehouse must be created and present in the Warehouse List.\n\nThis method gives a Site admin the option to create warehouse for a given Site.\n\n### Warehouse Input Attributes:\nIn order to create a warehouse, the following are required field\n- **Warehouse**: The designated code given to the warehouse\n- **Description**: Description or full name of the warehouse\n- **Address**: The full address of the given warehouse",
        "operationId": "post-warehouses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWarehouseRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "whse_num": "WH2",
                    "whse_name": "Warehouse2",
                    "address": "12, Kilenny Road"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      }
    },
    "/warehouses/{warehouse_id}": {
      "get": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Read Warehouse by ID",
        "description": "This method allows the Site admin to filter and search for specific Warehouse by their given unique ID. \nNote: This generation is read-only and changes to this Warehouse should be made using the Update function.",
        "operationId": "get-warehouse-by-id",
        "parameters": [
          {
            "name": "warehouse_id",
            "in": "path",
            "description": "The Warehouse ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": ""
            }
          },
          {
            "name": "Auth",
            "in": "header",
            "description": "Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warehouse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "whse_num": "MAIN",
                      "whse_name": "Main Warehouse",
                      "whse_address": "ABC Street",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Warehouse not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Delete a Warehouse",
        "description": "This method gives a site the option to delete one warehouse from the Warehouses list.\n\n## Exception\n**Warehouse is unable to delete if:**\n  - At least one location (item location/lot location) exist for warehouse.\n  - If warehouse exist in at least one material transaction.\n  - At least one PO Line /CO Line/Job/Job Material/Transfer Order  exists for warehouse \n\nThis warehouse will be immediately removed. This action is not reversible.",
        "operationId": "delete-a-warehouse",
        "parameters": [
          {
            "name": "warehouse_id",
            "in": "path",
            "description": "The Warehouse ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Warehouse",
        "operationId": "update-warehouse",
        "parameters": [
          {
            "name": "warehouse_id",
            "in": "path",
            "description": "The Warehouse ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warehouse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "whse_num": "MAIN",
                      "whse_name": "Main Warehouse",
                      "whse_address": "ABC Street",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)"
          }
        },
        "description": "Use this method to change aspects of an existing warehouse.\n\n**These entities are read only:**\n- id\n- whse_num\n- site_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWarehouseRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "whse_name": "Main Warehouse",
                    "whse_address": "ABC Street"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Warehouse"
        ]
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "List Locations",
        "description": "This method allows the Site admin to generate the list of all items within the Locations List. \nNote: This generation is read-only and changes to this Location should be made using the Update function.",
        "operationId": "list-locations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLocationsResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "loc_name": "Location 1",
                      "loc_type": "S",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Create Location",
        "description": "The Location List contains the collection of all locations within the warehouse. For a location to be available in the system record, the location must be created and present in the Location List.\n\nThis method allows the Site admin the option to create a Location\n\n### Location Input Attributes:\nIn order to create a location, the following are required field\n- **Warehouse**: The warehouse of the location on\n- **Location**: The designated code given to the location\n- **Trans Type**: The function of the location. Stock - S, Quarantine - Q or Transit - T",
        "operationId": "create-location",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocationRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "loc_num": "L001",
                    "whse_num": "MAIN",
                    "loc_name": "Location 1",
                    "loc_type": "S"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "loc_name": "Location 1",
                      "loc_type": "S",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations/{location_id}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Read Location by ID",
        "description": "This method allows the Site admin to filter and search for specific Location by their given unique Location ID. \nNote: This generation is read-only and changes to this Location should be made using the Update function.",
        "operationId": "location",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The Location ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Location"
        ],
        "summary": "Delete a Location",
        "description": "This method gives a site the option to delete one Location from the Locations list\n\n## Exception: \n**Location is unable to delete if:**\n   - Location exists in Item Location / Lot Location\n\nThis location will be immediately removed. This action is not reversible.",
        "operationId": "5e831e59dea6bbe8a430f7bd",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The Location ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Location",
        "operationId": "update-location",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The Location ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "loc_name": "Location 1",
                      "loc_type": "S",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)"
          }
        },
        "description": "Use this method to update location.\n\n**These entities are read only:**\n- whse_num\n- loc_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocationRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "loc_name": "L0001",
                    "loc_type": "S"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Location"
        ]
      }
    },
    "/items": {
      "post": {
        "tags": [
          "Item"
        ],
        "summary": "Create Item",
        "description": "The Item List contains the collection of all items currently in use by the company. For an Item to be available in the system record, the item must be created and present in the Item List.\n\nThis method gives a Site admin the option to create an Item for a given Site.\n\n### Items Input Attributes:\nIn order to create a new item, the following are required field\n- **Item Number**: The designated code given to the part/item\n- **Item Description**: The item description and may contain specifications/name of the item\n- **UOM**: The unit of measurement of the item. UOM defined must be exist in iCAPT\n- **Product Code**: Material classification. Product code defined must be exist in in iCAPT\n- **Unit Weight**: The expected mass per unit of part/item. The default UOM for weight is Kilogram (KG)\n- **Lot Tracked**: Item is lot tracked indicator. Lot tracked item must have lot number specified in all transactions\n- **Status**: Active status of item\n",
        "operationId": "create-item",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItemRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "item_num": "I0003",
                    "item_desc": "6 inch block",
                    "uom": "EA",
                    "product_code": "FG-MA",
                    "lot_tracked": 1,
                    "unit_weight": 3,
                    "item_status": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "List Items",
        "description": "This method allows the Site admin to generate the list of all items within the Item List. \nNote: This generation is read-only and changes to this Item should be made using the Update function.",
        "operationId": "list-items",
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                },
                "examples": {
                  "example": {
                    "value": {
                      "item_num": "I0003",
                      "item_desc": "6 inch block",
                      "uom": "EA",
                      "product_code": "FG-MA",
                      "lot_tracked": 1,
                      "unit_weight": 3,
                      "item_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Create Customer",
        "description": "The Customer List contains the collection of all customers the business is in conduct with. For a customer to be available in the system record, the customer details must be created and present within the Customer List. \n\nThis method gives a Site admin the option to create a Customer for a given Site.\n\n### Customer Input Attributes:\nIn order to create a customer, the following are required field\n- **Customer Code**: A unique code to identifies the customer\n- **Name**: Description/Name of customer\n- **Active Status**: Status of customer",
        "operationId": "create-customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "cust_num": "C0099",
                    "cust_name": "Three Trading Inc",
                    "cust_status": 1
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "example": {
                    "value": {
                      "cust_num": "C0099",
                      "cust_name": "Three Trading Inc",
                      "cust_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      },
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "List of Customers",
        "description": "This method allows the Site admin to generate the list of all items within the Customers List. \nNote: This generation is read-only and changes to the Customer should be made using the Update function.",
        "operationId": "list-of-customers",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "example": {
                    "value": {
                      "cust_num": "C0099",
                      "cust_name": "Three Trading Inc",
                      "cust_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productcodes": {
      "post": {
        "tags": [
          "Product Code"
        ],
        "summary": "Create Product Code",
        "description": "The Product Code List contains the collection of all products currently or previously in use within the production facility. For a product to be available in the system record, the product code must be created and present in the Product Code List.\n\nThis method allows the Site admin the option to create a Product Code.\n\n### Product Code Input Attributes:\nIn order to create a product code, the following are required field\n- **Product Code**: The designated code given to the product classification. This \n- **Active**: IIndicator of availability. 0 - Inactive, 1 - Active\n",
        "operationId": "create-product-code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductCodeRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "product_code": "FG-MA",
                    "product_desc": "Megatech-P100",
                    "product_status": "1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Product Code"
        ],
        "summary": "List Product Codes",
        "description": "This method allows the Site admin to generate the list of all items within the Product Codes List. \nNote: This generation is read-only and changes to this Product Code should be made using the Update function.",
        "operationId": "list-product-codes",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "product_code": "FG-MA",
                      "product_desc": "Megatech-P100",
                      "product_status": "1",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/{item_id}": {
      "delete": {
        "tags": [
          "Item"
        ],
        "summary": "Delete an Item",
        "description": "This method gives a site the option to delete one Item from the Items list.\n\n## Exception : \n**The item is unable to delete if:**\n   - Item location exists with Qty On Hand not 0\n   - At least one PO Line /CO Line/Job/Job Material/Transfer Order exists for the Item\n\nThis Item will be immediately removed. This action is not reversible.",
        "operationId": "5e82e36669167e6fe8436851",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "description": "The Item ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Read Item by ID",
        "description": "This method allows the Site admin to filter and search for specific Item by their given unique ID. \nNote: This generation is read-only and changes to this Item should be made using the Update function.",
        "operationId": "read-item-by-id",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "description": "The Item ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                },
                "examples": {
                  "example": {
                    "value": {
                      "item_num": "I0003",
                      "item_desc": "6 inch block",
                      "uom": "EA",
                      "product_code": "FG-MA",
                      "lot_tracked": 1,
                      "unit_weight": 3,
                      "item_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Item",
        "operationId": "update-item",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "description": "The Item ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                },
                "examples": {
                  "example": {
                    "value": {
                      "item_num": "I0003",
                      "item_desc": "6 inch block",
                      "uom": "EA",
                      "product_code": "FG-MA",
                      "lot_tracked": 1,
                      "unit_weight": 3,
                      "item_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItemRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "item_desc": "6 inch block",
                    "uom": "EA",
                    "product_code": "FG-MA",
                    "lot_tracked": 1,
                    "unit_weight": 3,
                    "item_status": 1
                  }
                }
              }
            }
          }
        },
        "description": "Use this method to change aspects of an existing employee.\n\n**These entities are read only:**\n- id\n- item_num\n- site_id",
        "tags": [
          "Item"
        ]
      }
    },
    "/productcodes/{productcode_id}": {
      "get": {
        "tags": [
          "Product Code"
        ],
        "summary": "Read Product Code by ID",
        "description": "This method allows the Site admin to filter and search for specific Product Code by their given unique ID. \nNote: This generation is read-only and changes to this Product Code should be made using the Update function.",
        "operationId": "read-product-code-by-id",
        "parameters": [
          {
            "name": "productcode_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "product_code": "FG-MA",
                      "product_desc": "Megatech-P100",
                      "product_status": "1",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Product Code"
        ],
        "summary": "Delete Product Code",
        "description": "This method gives a site the option to delete one Product Code from theProduct Code list.\n\n## Exception\n**Product code is unable to delete if:**\n  - At least one Item/PO Line /CO Line/Job/Job Material/Transfer Order  exists for the product code\n\nThis Product Code will be immediately removed. This action is not reversible.",
        "operationId": "delete-product-code",
        "parameters": [
          {
            "name": "productcode_id",
            "in": "path",
            "description": "The Product Code ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Product Code",
        "operationId": "update-product-code",
        "parameters": [
          {
            "name": "productcode_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "product_code": "FG-MA",
                      "product_desc": "Megatech-P100",
                      "product_status": "1",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use this method to change aspects of an existing product code.\n\n**These entities are read only:**\n- productcode_ID",
        "tags": [
          "Product Code"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductCodeRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "product_desc": "Megatech-P100",
                    "product_status": "1"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/reasoncodes": {
      "post": {
        "tags": [
          "Reason Code"
        ],
        "summary": "Create Reason Code",
        "description": "The Reason Code List contains the collection of all reasons required when conducting certain transaction forms. A reason code defines the purpose certain transactions are performed. For a Reason Code to be available in the system record, the Reason Code must be created and present in the Reason Code List.\n\nThis method allows the Site admin the option to create a Reason Code.\n\n### Reason Code Input Attributes:\nIn order to create a reason code, the following are required field\n- **Transaction**: Transactions where the reason code is used\n- **Code**: Reason Code",
        "operationId": "create-reason-code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReasonCodeRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "reason_class": "MiscIssue",
                    "reason_code": "DMG",
                    "reason_desc": "Damage goods"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          },
          "405": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Reason Code"
        ],
        "summary": "List Reason Codes",
        "description": "This method allows the Site admin to generate the list of all items within the Reason Codes List. \nNote: This generation is read-only and changes to this Reason Code should be made using the Update function.",
        "operationId": "list-reason-codes",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "reason_class": "MiscIssue",
                      "reason_code": "DMG",
                      "reason_desc": "Damage goods",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchaseorders": {
      "get": {
        "tags": [
          "Purchase Order"
        ],
        "summary": "List Purchase Order Lines",
        "description": "The Purchase Order (PO) List contains the collection of all PO used throughout the inventory management and production cycle. For a PO to be available in the system record, the PO must be created and present in the PO List.\n\nThis method allows the Site admin to generate the list of all items within the Purchase Order Lines. \nNote: This generation is read-only.",
        "operationId": "list-purchase-order-lines",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Login",
        "description": "The Login function allows users to retrieve their system settings and privileges from the iCAPT database, enabling them to access and perform functions provided by the iCAPT system. To be able to Login, a user must first have a login ID and password assigned to them from an Administrator. ",
        "operationId": "login",
        "parameters": [
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "multipart/form-data"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "example": "site=\"site_name\" name=\"username\" password=\"password\""
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "token": "token"
                }
              }
            }
          }
        }
      }
    },
    "/reasoncodes/{reasoncode_id}": {
      "get": {
        "tags": [
          "Reason Code"
        ],
        "summary": "Read Reason Code By ID",
        "description": "This method allows the Site admin to filter and search for specific Reason Code by their given unique Reason Code ID. \nNote: This generation is read-only and changes to this Reason Code should be made using the Update function.",
        "operationId": "read-reason-code-by-id",
        "parameters": [
          {
            "name": "reasoncode_id",
            "in": "path",
            "description": "The Reason Code ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "reason_class": "MiscIssue",
                      "reason_code": "DMG",
                      "reason_desc": "Damage goods",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Reason Code"
        ],
        "summary": "Delete Reason Code",
        "description": "This method gives a site the option to delete one Reason Code from the Reason Codes list.\n\n## Exception\n**Reason code is unable to delete if:**\n  - At least one material/machine/job transaction exists for the reason code\n\nReason code will be immediately removed. This action is not reversible.",
        "operationId": "delete-reason-code",
        "parameters": [
          {
            "name": "reasoncode_id",
            "in": "path",
            "description": "The Reason Code ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Reason Code",
        "operationId": "update-reason-code",
        "parameters": [
          {
            "name": "reasoncode_id",
            "in": "path",
            "description": "The Reason Code ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "reason_class": "MiscIssue",
                      "reason_code": "DMG",
                      "reason_desc": "Damage goods",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use this method to change aspects of an existing reason code.\n\n**These entities are read only:**\n- reason_class\n- reasoncode_ID",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateReasonCodeRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "reason_desc": "Damage goods"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Reason Code"
        ]
      }
    },
    "/workcenters": {
      "post": {
        "tags": [
          "Work Center"
        ],
        "summary": "Create Work Centers",
        "description": "The Work Center List contains the collection of all job operations within the production floor. For a work center to be available in the system record, the work center must be created and present in the work center List.\n\nThis method gives a Site admin the option to create work center for a given Site.\n\n### Work Center Input Attributes:\nIn order to create a warehouse, the following are required field\n- **Work Center**: The designated code given to the work center\n- **Active**: Indicate the active status of work center. 0 - Inactive, 1 - Active",
        "operationId": "create-work-centers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkCenterRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "wc_num": "ASSY-01",
                    "wc_desc": "Assembly Station 1",
                    "wc_status": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Work Center"
        ],
        "summary": "List Work Centers",
        "description": "This method allows the Site admin to generate the list of all items within the Work Centers List. \nNote: This generation is read-only and changes to this Work Center should be made using the Update function.",
        "operationId": "list-work-centers",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkCenter"
                },
                "examples": {
                  "example": {
                    "value": {
                      "wc_num": "ASSY-01",
                      "wc_desc": "Assembly Station 1",
                      "wc_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workcenters/{workcenter_id}": {
      "get": {
        "tags": [
          "Work Center"
        ],
        "summary": "Read Work Center by ID",
        "description": "This method allows the Site admin to filter and search for specific Work Center by their given unique ID. \nNote: This generation is read-only and changes to this Work Center should be made using the Update function.",
        "operationId": "read-work-center-by-id",
        "parameters": [
          {
            "name": "workcenter_id",
            "in": "path",
            "description": "The Work Center ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkCenter"
                },
                "examples": {
                  "example": {
                    "value": {
                      "wc_num": "ASSY-01",
                      "wc_desc": "Assembly Station 1",
                      "wc_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Work Center"
        ],
        "summary": "Delete Work Center",
        "description": "This method gives a site the option to delete one work center from the Work Centers list if\n\n## Exception\n**Work Center is unable to delete if:**\n  - Work Center exists in any Job Route\n\nThis work center will be immediately removed. This action is not reversible.",
        "operationId": "delete-work-center",
        "parameters": [
          {
            "name": "workcenter_id",
            "in": "path",
            "description": "The Work Center ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Work Center",
        "operationId": "update-work-center",
        "parameters": [
          {
            "name": "workcenter_id",
            "in": "path",
            "description": "The Work Center ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkCenter"
                },
                "examples": {
                  "example": {
                    "value": {
                      "wc_num": "ASSY-01",
                      "wc_desc": "Assembly Station 1",
                      "wc_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use this method to change aspects of an existing work center.\n\n**These entities are read only:**\n- workcenter_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkCenterRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "wc_desc": "Assembly Station 1",
                    "wc_status": 1
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Work Center"
        ]
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Read Customers by ID",
        "description": "This method allows the Site admin to filter and search for specific Customer by their given unique ID. \nNote: This generation is read-only and changes to this Customer should be made using the Update function.",
        "operationId": "read-customers-by-id",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "example": {
                    "value": {
                      "cust_num": "C0099",
                      "cust_name": "Three Trading Inc",
                      "cust_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Customer"
        ],
        "summary": "Delete a Customer",
        "description": "This method gives a site the option to delete one Customer from the Customers list.\n\n## Exception: \n**Customer is unable to delete if:**\n   - Customer exists in Customer Order Item\n\nThis Customer will be immediately removed. This action is not reversible.",
        "operationId": "delete-a-customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Customer",
        "operationId": "update-customers",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "description": "Use this method to change aspects of an existing customer.\n\n**These entities are read only:**\n- id\n- cust_num\n- site_id\n",
        "tags": [
          "Customer"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "cust_name": "Three Trading Inc",
                    "cust_status": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/uoms": {
      "post": {
        "tags": [
          "UOM"
        ],
        "summary": "Create UOM",
        "description": "The UOM List contains the collection of all units of measurement that can be associated with an item. A base unit of measure should be assigned to each item on the Items form For a UOM to be available in the system record, the UOM must be created and present in the UOM List.\n\nThis method gives a Site admin the option to create UOM for a given Site.\n\n### UOM Input Attributes:\nIn order to create a UOM, the following are required field\n- **UOM**: The designated code given to the unit of measurement\n- **Description**: Description of the UOM\n- **Rounding Decimals**: Determines the number of decimal places the unit of measurement",
        "operationId": "create-uom",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUOMRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "uom_num": "KG",
                    "uom_desc": "Kilogram",
                    "rounding": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "UOM"
        ],
        "summary": "List UOM",
        "description": "This method allows the Site admin to generate the list of all items within the UOM List. \nNote: This generation is read-only and changes to this UOM should be made using the Update function.",
        "operationId": "list-uom",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOM"
                },
                "examples": {
                  "example": {
                    "value": {
                      "uom_num": "KG",
                      "uom_desc": "Kilogram",
                      "rounding": 2,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/uoms/{uom_id}": {
      "get": {
        "tags": [
          "UOM"
        ],
        "summary": "Read UOM by ID",
        "description": "This method allows the Site admin to filter and search for specific UOM by their given unique ID. \nNote: This generation is read-only and changes to this UOM should be made using the Update function.",
        "operationId": "read-uom-by-id",
        "parameters": [
          {
            "name": "uom_id",
            "in": "path",
            "description": "The UOM ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOM"
                },
                "examples": {
                  "example": {
                    "value": {
                      "uom_num": "KG",
                      "uom_desc": "Kilogram",
                      "rounding": 2,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "UOM"
        ],
        "summary": "Delete UOM",
        "description": "This method gives a site the option to delete one UOM from the UOM list.\n\n## Exception\n**UOM is unable to delete if:**\n  - At least one Item/PO Line /CO Line/Job/Job Material/Transfer Order  exists for the UOM\n\nThis UOM will be immediately removed. This action is not reversible.",
        "operationId": "delete-uom",
        "parameters": [
          {
            "name": "uom_id",
            "in": "path",
            "description": "The UOM ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update UOM",
        "operationId": "update-uom",
        "parameters": [
          {
            "name": "uom_id",
            "in": "path",
            "description": "The UOM ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOM"
                },
                "examples": {
                  "example": {
                    "value": {
                      "uom_num": "KG",
                      "uom_desc": "Kilogram",
                      "rounding": 2,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use this method to change aspects of an existing UOM.\n\n**These entities are read only:**\n- UOM_ID",
        "tags": [
          "UOM"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUOMRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "uom_desc": "Kilogram",
                    "rounding": 2
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tasks": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Create Tasks",
        "description": "The Indirect Task List contains the collection of all non-production related entries used by employees of the production cycle. For a Task to be available in the system record, the task must be created and present in the Indirect Task List.\n\nThis method allows the Site admin the option to create a Task.\n\n### Reason Code Input Attributes:\nIn order to create a task, the following are required field\n- **Code**: Indirect task code\n- **Description**: Description of the indirect task",
        "operationId": "create-tasks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "task_name": "KAIZEN",
                    "task_desc": "Kaizen Activity"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "List Tasks",
        "description": "This method allows the Site admin to generate the list of all items within the Task List. \nNote: This generation is read-only and changes to this Task should be made using the Update function.",
        "operationId": "list-tasks",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "examples": {
                  "example": {
                    "value": {
                      "task_name": "KAIZEN",
                      "task_desc": "Kaizen Activity",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "Read Tasks by ID",
        "description": "This method allows the Site admin to filter and search for specific Task by their given unique ID. \nNote: This generation is read-only and changes to this Task should be made using the Update function.",
        "operationId": "read-tasks-by-id",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "The Task ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "examples": {
                  "example": {
                    "value": {
                      "task_name": "KAIZEN",
                      "task_desc": "Kaizen Activity",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Task"
        ],
        "summary": "Delete Task",
        "description": "This method gives a site the option to delete one Task from the Task list.\n\n## Exception\n**Task is unable to delete if:**\n  - Indirect task exist in at least one job transaction\n\nTask will be immediately removed. This action is not reversible.",
        "operationId": "delete-task",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "The Task ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Task",
        "operationId": "update-task",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "The Task ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "examples": {
                  "example": {
                    "value": {
                      "task_name": "KAIZEN",
                      "task_desc": "Kaizen Activity",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use this method to change aspects of an existing task.\n\n**These entities are read only:**\n- task_ID",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTaskRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "task_desc": "Kaizen Activity"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Task"
        ]
      }
    },
    "/vendors": {
      "post": {
        "tags": [
          "Vendor"
        ],
        "summary": "Create Vendors",
        "description": "The Vendors List contains the collection of all vendors the business is in conduct with. For a vendor to be available in the system record, the vendor must be created and present in the Vendors List.\n\nThis method gives a Site admin the option to create vendors for a given Site.\n\n### Vendor Input Attributes:\nIn order to create a vendor, the following are required field\n- **Vendor Code**: The designated code given to the vendor\n- **Vendor Name**: Description or full name of the vendor\n- **Active**: Indicate the active status of vendor. 0 - Inactive, 1 - Active",
        "operationId": "create-vendors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVendorRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "vend_num": "V0001",
                    "vend_name": "MPH",
                    "vend_status": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Vendor"
        ],
        "summary": "List Vendors",
        "description": "This method allows the Site admin to generate the list of all items within the Vendors List. \nNote: This generation is read-only and changes to this Vendor should be made using the Update function.",
        "operationId": "list-vendors",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                },
                "examples": {
                  "example": {
                    "value": {
                      "vend_num": "V0001",
                      "vend_name": "MPH",
                      "vend_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vendors/{vendor_id}": {
      "get": {
        "tags": [
          "Vendor"
        ],
        "summary": "Read Vendor by ID",
        "description": "This method allows the Site admin to filter and search for specific Vendor by their given unique ID. \nNote: This generation is read-only and changes to this Vendor should be made using the Update function.",
        "operationId": "read-vendors-by-id",
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The Vendors ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                },
                "examples": {
                  "example": {
                    "value": {
                      "vend_num": "V0001",
                      "vend_name": "MPH",
                      "vend_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Vendor"
        ],
        "summary": "Delete Vendor",
        "description": "This method gives a site the option to delete one Vendor from the Vendors list.\n\n## Exception\n**Vendor is unable to delete if:**\n  - Purchase Order exists for this Vendor\n\nVendor will be immediately removed. This action is not reversible.",
        "operationId": "delete-vendor",
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The Vendors ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Vendor",
        "operationId": "update-vendor",
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The Vendors ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                },
                "examples": {
                  "example": {
                    "value": {
                      "vend_num": "V0001",
                      "vend_name": "MPH",
                      "vend_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use this method to change aspects of an existing vendor.\n\n**These entities are read only:**\n- vendor_ID",
        "tags": [
          "Vendor"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVendorRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "vend_name": "MPH",
                    "vend_status": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itemlocs": {
      "post": {
        "tags": [
          "Item Location"
        ],
        "summary": "Create Item Locations",
        "description": "The Item Location List contains the collection of all locations within the warehouse and the item parts designated to them. The Item Location List also tracks the available quantity on hand for a certain item in each location. For an item location to be available in the system record, the customer must be created and present in the Customer List.\n\nThis method gives a Site admin the option to create an Item Location for a given Site.\n\n### Items Location Input Attributes:\nIn order to create a new item location, the following are required field\n- **Warehouse**: Identifies the warehouse the item is stored in\n- **Location**: Identified the specific location within abovementioned warehouse the item is stored in\n- **Item**: Identifies the item that is stored in the abovementioned warehouse and location\n- **Qty on hand**: The total number of units in the warehouse location at the current time\n- **Rank**: Location ranking of the item. 1 being the highest and will be the default location for this item",
        "operationId": "create-item-locations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItemLocationRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "whse_num": "MAIN",
                    "loc_num": "L001",
                    "item_num": "I0001",
                    "qty_on_hand": 30,
                    "rank": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Item Location"
        ],
        "summary": "List Item Locations",
        "description": "This method allows the Site admin to generate the list of all items within the Item Locations List. \nNote: This generation is read-only and changes to this Item Location should be made using the Update function.",
        "operationId": "list-item-locations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemLocation"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "item_num": "I001",
                      "qty_on_hand": 30,
                      "UOM": "EA",
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itemlocs/{itemloc_id}": {
      "get": {
        "tags": [
          "Item Location"
        ],
        "summary": "Read Item Locations by ID",
        "description": "This method allows the Site admin to filter and search for specific Item Location by their given unique ID. \nNote: This generation is read-only and changes to this Item Location should be made using the Update function.",
        "operationId": "read-item-locations-by-id",
        "parameters": [
          {
            "name": "itemloc_id",
            "in": "path",
            "description": "The Item Location ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemLocation"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "item_num": "I001",
                      "qty_on_hand": 30,
                      "UOM": "EA",
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Item Location"
        ],
        "summary": "Delete Item Location",
        "description": "This method gives a site the option to delete one Item Location from the Item Locations list.\n\n## Exception:\n**Item location is unable to delete if:**\n  -  Qty On Hand is not 0\n\nThis Item Location will be immediately removed. This action is not reversible.",
        "operationId": "delete-item-location",
        "parameters": [
          {
            "name": "itemloc_id",
            "in": "path",
            "description": "The Item Location ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Item Location",
        "operationId": "update-item-location",
        "parameters": [
          {
            "name": "itemloc_id",
            "in": "path",
            "description": "The Item Location ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "description": "Use this method to update the item location.\n\n**The following properties are read only:**\n-id\n-whse_num\n-loc_num\n-item_num\n-site_id",
        "tags": [
          "Item Location"
        ]
      }
    },
    "/lotlocs": {
      "post": {
        "tags": [
          "Lot Location"
        ],
        "summary": "Create Lot Locations",
        "description": "The Lot List contains the collection of all Lot number and location for each Lot tracked Item Part. A lot is a quantity of material you choose to group together. For a Lot to be available in the system record, the Lot Location must be created and present in the Lot List.\n\nThis method allows the Site admin the option to create a Lot Location.",
        "operationId": "create-lot-locations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLotLocationRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "whse_num": "MAIN",
                    "loc_num": "L001",
                    "item_num": "I011",
                    "lot_num": "S07092020",
                    "qty_on_hand": 40
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Lot Location"
        ],
        "summary": "List Lot Locations",
        "description": "This method allows the Site admin to generate the list of all items within the Lot Location List. \nNote: This generation is read-only and changes to this Lot Location should be made using the Update function.",
        "operationId": "list-lot-locations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LotLocation"
                },
                "examples": {
                  "example": {
                    "value": {
                      "whse_num": "MAIN",
                      "loc_num": "L001",
                      "item_num": "I011",
                      "lot_num": "S07092020",
                      "qty_on_hand": 40,
                      "uom": "EA",
                      "qty_on_rsvd": 0,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lotlocs/{lotloc_id}": {
      "delete": {
        "tags": [
          "Lot Location"
        ],
        "summary": "Delete Lot Location",
        "description": "This method gives a site the option to delete one Lot Location from the Lot Locations list.\n\n## Exception: \nLot Location is unable to delete if:\n  -  Qty On Hand is not 0\n\nThis Lot Location will be immediately removed. This action is not reversible.",
        "operationId": "delete-lot-location",
        "parameters": [
          {
            "name": "lotloc_id",
            "in": "path",
            "description": "The Lot Location ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Lot Location"
        ],
        "summary": "Update Lot Location",
        "description": "Use this method to update item lot location.",
        "operationId": "update-lot-location",
        "parameters": [
          {
            "name": "lotloc_id",
            "in": "path",
            "description": "The Lot Location ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/employees": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create Employees",
        "description": "The Employee List contains the collection of all employees employed by the production floor and have access to the iCAPT system. For an employee to be available in the system record, the employee must be created and present in the Employee List.\n\nThis method gives the Site admin the option to create an Employee\n\n### Employees Input Attributes:\nIn order to create a employee, the following are required field\n- **Employee Number**: A unique number to identifies the employee\n- **Employee Name**: Description/Name of employee\n- **Shift**: Employee Shift",
        "operationId": "create-employees",
        "requestBody": {
          "description": "Request Field",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeRequest"
              },
              "example": {
                "emp_num": "string",
                "emp_name": "string",
                "shift": 0
              },
              "examples": {
                "example": {
                  "value": {
                    "emp_num": "E0001",
                    "emp_name": "John",
                    "shift": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "List Employees",
        "description": "This method allows the Site admin to generate the list of all items within the Employees List. \nNote: This generation is read-only and changes to this Employee should be made using the Update function.",
        "operationId": "list-employees",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                },
                "examples": {
                  "example": {
                    "value": {
                      "emp_num": "E0001",
                      "emp_name": "John",
                      "emp_shift": 3,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employees/{employee_id}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Read Employees by ID",
        "description": "This method allows the Site admin to filter and search for specific Employee by their given unique ID. \nNote: This generation is read-only and changes to this Employee should be made using the Update function.",
        "operationId": "read-employees-by-id",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The Employee ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                },
                "examples": {
                  "example": {
                    "value": {
                      "emp_num": "E0001",
                      "emp_name": "John",
                      "emp_shift": 3,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Delete an Employee",
        "description": "This method gives a site the option to delete one Employee from the Employees list.\n\n## Exception:\n**Employee is unable to delete if:**\n   - Employee exists as a Counter\n\nThis Employee will be immediately removed. This action is not reversible.",
        "operationId": "delete-an-employee",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The Employee ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Employee",
        "operationId": "update-employee",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The Employee ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                },
                "examples": {
                  "example": {
                    "value": {
                      "emp_num": "E0001",
                      "emp_name": "John",
                      "shift": 3,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use this method to change aspects of an existing employee.\n\n**These entities are read only:**\n- id\n- emp_num\n- site_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployeeRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "emp_name": "John",
                    "shift": 3
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Employee"
        ]
      }
    },
    "/machines": {
      "post": {
        "tags": [
          "Machine"
        ],
        "summary": "Create Machines",
        "description": "The Machine List contains the collection of all machines used throughout the production cycle. For a machine to be available in the system location, the machine must be created and present in the Machine List.\n\nThis method allows the Site admin to create a Machine.\n\n### Machine Input Attributes:\nIn order to create a machine, the following are required field\n- **Machine ID**: A unique code to identifies the machine\n- **Description**: Description of the machine\n- **Active**: Identifies the active status of the machine. 0 - Inactive, 1 - Active\n",
        "operationId": "create-machines",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMachineRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "res_id": "BR-2300",
                    "res_desc": "Drilling Machine",
                    "res_status": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "List Machines",
        "description": "This method allows the Site admin to generate the list of all items within the Machines List. \nNote: This generation is read-only and changes to this Machine should be made using the Update function.",
        "operationId": "list-machines",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                },
                "examples": {
                  "example": {
                    "value": {
                      "res_id": "BR-2300",
                      "res_desc": "Drilling Machine",
                      "res_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/machines/{machine_id}": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Read Machines by  ID",
        "description": "This method allows the Site admin to filter and search for specific Machines by their given unique Machine ID. \nNote: This generation is read-only and changes to this Machine should be made using the Update function.",
        "operationId": "read-machines-by-id",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                },
                "examples": {
                  "example": {
                    "value": {
                      "res_id": "BR-2300",
                      "res_desc": "Drilling Machine",
                      "res_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Machine"
        ],
        "summary": "Delete Machine",
        "description": "This method gives a site the option to delete one Machine from the Machines list.\n\n## Exception: \n**Machine is unable to delete if:**\n  -  Mahcine exist in at least one material/job transaction\n\n\nMachine will be immediately removed. This action is not reversible.",
        "operationId": "delete-machine",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "summary": "Update Machine",
        "operationId": "update-machine",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                },
                "examples": {
                  "example": {
                    "value": {
                      "res_id": "BR-2300",
                      "res_desc": "Drilling Machine",
                      "res_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use this method to update machine.\n\n**These entities are read only:**\n- machine_ID",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMachineRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "res_desc": "Drilling Machine",
                    "res_status": 1
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Machine"
        ]
      }
    },
    "/customer orders": {
      "post": {
        "tags": [
          "Customer Order"
        ],
        "summary": "Create Customers Orders",
        "description": "The Customer Order (CO) List contains the collection of all CO used throughout the inventory management and production cycle. For a CO to be available in the system record, the CO must be created and present in the CO List.\n\nThis method gives the Site admin the option to create a Customer Orders.\n\n### Customer Order Input Attributes:\nIn order to create a customer order, the following are required field\n- **CO Number**: A CO Number uniquely identifies a customer order\n- **CO Line**: Line Item\n- **CO Release**: Release or sub-line\n- **Warehouse**: Warehouse to ship from.\n- **Item**: Item that is ordered by customer \n- **Due Date**: Target shipping date\n- **Status**: Status of the CO\n- **Customer Code**: Customer of the order\n- **Qty Ordered**: Quantity of the item ordered \n- **Qty Released**: Quantity of the item to be order on this specified CO",
        "operationId": "create-customers-orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerOrderRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "co_num": "C0002",
                    "co_line": "2",
                    "co_rel": "0",
                    "qty_released": 30,
                    "cust_num": "MZ01",
                    "add_num": "A0001",
                    "due_date": "29/09/2020",
                    "do_num": "DO007",
                    "qty_ordered": 50,
                    "item_num": "I0001",
                    "whse_num": "MAIN",
                    "rel_status": "O"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Customer Order",
          "GET"
        ],
        "summary": "List Customer Orders",
        "description": "This method allows the Site admin to generate the list of all items within the Customer Orders List. \nNote: This generation is read-only and changes to this Customer Order should be made using the Update function.",
[...]
