{
  "openapi": "3.0.1",
  "info": {
    "title": "ICAPT",
    "description": "\n",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://icapt-api.azure-api.net"
    }
  ],
  "paths": {
    "/warehouses": {
      "get": {
        "tags": [
          "Warehouse"
        ],
        "summary": "List Warehouses",
        "description": "This method allow to retrieve a list of warehouses.",
        "operationId": "get-warehouses",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWarehousesResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "whse_num": "MAIN",
                      "whse_name": "Main Warehouse",
                      "whse_address": "ABC Street",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Create Warehouse",
        "description": "This method gives a Site admin the option to create warehouse for a given Site.\n\n### Warehouse Input Attributes:\nIn order to create a warehouse, the following are required field\n- **Warehouse**: The designated code given to the warehouse\n- **Description**: Description or full name of the warehouse\n- **Address**: The full address of the given warehouse",
        "operationId": "post-warehouses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Warehouse"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      }
    },
    "/warehouses/{warehouse_id}": {
      "get": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Read Warehouse by ID",
        "description": "This method allow to retrieve a list of warehouses by warehoue ID.",
        "operationId": "get-warehouse-by-id",
        "parameters": [
          {
            "name": "warehouse_id",
            "in": "path",
            "description": "The Warehouse ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "enum": [
                "application/json"
              ],
              "type": ""
            }
          },
          {
            "name": "Auth",
            "in": "header",
            "description": "Bearer token",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warehouse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "whse_num": "MAIN",
                      "whse_name": "Main Warehouse",
                      "whse_address": "ABC Street",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Warehouse not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Delete a Warehouse",
        "description": "This method gives a site the option to delete one warehouse from the Warehouses list.\n\n## Exception\nWarehouse is unable to delete if:\n\n- At least one location (item location/lot location) exist for warehouse.\n- If warehouse exist in at least one material transaction.\n- At least one PO Line /CO Line/Job/Job Material/Transfer Order  exists for warehouse \n\nThis warehouse will be immediately removed. This action is not reversible.",
        "operationId": "delete-a-warehouse",
        "parameters": [
          {
            "name": "warehouse_id",
            "in": "path",
            "description": "The Warehouse ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Update a Warehouse",
        "description": "Use this method to change aspects of an existing warehouse.\n\nThese entities are read only :\n- id\n- whse_num\n- site_id\n",
        "operationId": "update-a-warehouse",
        "parameters": [
          {
            "name": "warehouse_id",
            "in": "path",
            "description": "The Warehouse ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Warehouse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "whse_num": "MAIN",
                      "whse_name": "Main Warehouse",
                      "whse_address": "ABC Street",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      }
    },
    "/locations": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "List Locations",
        "description": "This method will return the list of warehouse location from iCAPT.",
        "operationId": "list-locations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLocationsResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "loc_name": "Location 1",
                      "loc_type": "S",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Create Location",
        "description": "This method will create a new location by sending a POST request.\n\n### Location Input Attributes:\nIn order to create a location, the following are required field\n- **Warehouse**: The warehouse of the location on\n- **Location**: The designated code given to the location\n- **Trans Type**: The function of the location. Stock - S, Quarantine - Q or Transit - T",
        "operationId": "create-location",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocationRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "loc_num": "L001",
                    "whse_num": "MAIN",
                    "loc_name": "Location 1",
                    "loc_type": "S"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "loc_name": "Location 1",
                      "loc_type": "S",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/locations/{location_id}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Read Location by ID",
        "description": "This method will return the list of warehouse location from iCAPT by location ID.",
        "operationId": "location",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The Location ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Location"
        ],
        "summary": "Delete a Location",
        "description": "This method gives a site the option to delete one Location from the Locations list\n\n## Exception: \nLocation is unable to delete if:\n\n   - Location exists in Item Location / Lot Location\n\nThis location will be immediately removed. This action is not reversible.",
        "operationId": "5e831e59dea6bbe8a430f7bd",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The Location ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Update Location",
        "description": "Use this method to update location.\n\nThese entities are read only :\n- whse_num\n- loc_id\n\n",
        "operationId": "update-location",
        "parameters": [
          {
            "name": "location_id",
            "in": "path",
            "description": "The Location ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "loc_name": "Location 1",
                      "loc_type": "S",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      }
    },
    "/items": {
      "post": {
        "tags": [
          "Item"
        ],
        "summary": "Create Item",
        "description": "This method gives a Site admin the option to create an Item for a given Site.\n\n### Items Input Attributes:\nIn order to create a new item, the following are required field\n- **Item Number**: The designated code given to the part/item\n- **Item Description**: The item description and may contain specifications/name of the item\n- **UOM**: The unit of measurement of the item. UOM defined must be exist in iCAPT\n- **Product Code**: Material classification. Product code defined must be exist in in iCAPT\n- **Unit Weight**: The expected mass per unit of part/item. The default UOM for weight is Kilogram (KG)\n- **Lot Tracked**: Item is lot tracked indicator. Lot tracked item must have lot number specified in all transactions\n- **Status**: Active status of item\n",
        "operationId": "create-item",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItemRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "item_num": "I0003",
                    "item_desc": "6 inch block",
                    "uom": "EA",
                    "product_code": "FG-MA",
                    "lot_tracked": 1,
                    "unit_weight": 3,
                    "item_status": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "List Items",
        "description": "This method will return the list of items from iCAPT.",
        "operationId": "list-items",
        "responses": {
          "200": {
            "description": "null",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                },
                "examples": {
                  "example": {
                    "value": {
                      "item_num": "I0003",
                      "item_desc": "6 inch block",
                      "uom": "EA",
                      "product_code": "FG-MA",
                      "lot_tracked": 1,
                      "unit_weight": 3,
                      "item_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Create Customer",
        "description": "This method gives a Site admin the option to create a Customer for a given Site.\n\n### Customer Input Attributes:\nIn order to create a customer, the following are required field\n- **Customer Code**: A unique code to identifies the customer\n- **Name**: Description/Name of customer\n- **Active Status**: Status of customer",
        "operationId": "create-customer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "cust_num": "C0099",
                    "cust_name": "Three Trading Inc",
                    "cust_status": 1
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "example": {
                    "value": {
                      "cust_num": "C0099",
                      "cust_name": "Three Trading Inc",
                      "cust_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": []
      },
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "List of Customers",
        "description": "This method allows to retrieve the list of all Customers.",
        "operationId": "list-of-customers",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "example": {
                    "value": {
                      "cust_num": "C0099",
                      "cust_name": "Three Trading Inc",
                      "cust_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productcodes": {
      "post": {
        "tags": [
          "ProductCode"
        ],
        "summary": "Create Product Code",
        "description": "Use this method to create a new Product Code.\n\n### Product Code Input Attributes:\nIn order to create a product code, the following are required field\n- **Product Code**: The designated code given to the product classification. This \n- **Active**: IIndicator of availability. 0 - Inactive, 1 - Active\n",
        "operationId": "create-product-code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCode"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "ProductCode"
        ],
        "summary": "List Product Codes",
        "description": "This method will return a list Product Codes from iCAPT.",
        "operationId": "list-product-codes",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "product_code": "FG-MA",
                      "product_desc": "Megatech-P100",
                      "product_status": "1",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/items/{item_id}": {
      "delete": {
        "tags": [
          "Item"
        ],
        "summary": "Delete an Item",
        "description": "This method gives a site the option to delete one Item from the Items list.\n\n## Exception : \nThe item is unable to delete if:\n   - Item location exists with Qty On Hand not 0\n   - At least one PO Line /CO Line/Job/Job Material/Transfer Order exists for the Item\n\nThis Item will be immediately removed. This action is not reversible.",
        "operationId": "5e82e36669167e6fe8436851",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "description": "The Item ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Item"
        ],
        "summary": "Read Item by ID",
        "description": "This method allow to retrieve item properties by Item ID.",
        "operationId": "read-item-by-id",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "description": "The Item ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                },
                "examples": {
                  "example": {
                    "value": {
                      "item_num": "I0003",
                      "item_desc": "6 inch block",
                      "uom": "EA",
                      "product_code": "FG-MA",
                      "lot_tracked": 1,
                      "unit_weight": 3,
                      "item_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Item"
        ],
        "summary": "Update  Item",
        "description": "Use this method to change aspects of an existing employee.\n\nThese entities are read only :\n- id\n- item_num\n- site_id",
        "operationId": "update-item",
        "parameters": [
          {
            "name": "item_id",
            "in": "path",
            "description": "The Item ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Item"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/productcodes/{productcode_id}": {
      "get": {
        "tags": [
          "ProductCode"
        ],
        "summary": "Read Product Code by ID",
        "description": "Use this method to get a Product Code list by product code ID.",
        "operationId": "read-product-code-by-id",
        "parameters": [
          {
            "name": "productcode_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "product_code": "FG-MA",
                      "product_desc": "Megatech-P100",
                      "product_status": "1",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "ProductCode"
        ],
        "summary": "Delete Product Code",
        "description": "This method gives a site the option to delete one Product Code from theProduct Code list.\n\n## Exception\nProduct code is unable to delete if:\n\n- At least one Item/PO Line /CO Line/Job/Job Material/Transfer Order  exists for the product code\n\nThis Product Code will be immediately removed. This action is not reversible.",
        "operationId": "delete-product-code",
        "parameters": [
          {
            "name": "productcode_id",
            "in": "path",
            "description": "The Product Code ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "ProductCode"
        ],
        "summary": "Update Product Code",
        "description": "Use this method to change aspects of an existing product code.\n\nThese entities are read only :\n- productcode_ID",
        "operationId": "update-product-code",
        "parameters": [
          {
            "name": "productcode_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/reasoncodes": {
      "post": {
        "tags": [
          "ReasonCode"
        ],
        "summary": "Create Reason Code",
        "description": "This method gives a Site admin the option to create a reason code for a given Site.\n\n### Reason Code Input Attributes:\nIn order to create a reason code, the following are required field\n- **Transaction**: Transactions where the reason code is used\n- **Code**: Reason Code",
        "operationId": "create-reason-code",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonCode"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          },
          "405": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "ReasonCode"
        ],
        "summary": "List Reason Codes",
        "description": "This method allow to retrieve a list of Reason Codes.",
        "operationId": "list-reason-codes",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "reason_class": "MiscIssue",
                      "reason_code": "DMG",
                      "reason_desc": "Damage goods",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/purchaseorders": {
      "get": {
        "tags": [
          "PurchaseOrder"
        ],
        "summary": "List Purchase Order Lines",
        "description": "This method allow to retrieve a list Purchase Order lines from iCAPT.",
        "operationId": "list-purchase-order-lines",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Login",
        "description": "Login to ICAPT to fetch bearer token",
        "operationId": "login",
        "parameters": [
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "multipart/form-data"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "example": "site=\"site_name\" name=\"username\" password=\"password\""
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "example": {
                  "token": "token"
                }
              }
            }
          }
        }
      }
    },
    "/reasoncodes/{reasoncode_id}": {
      "get": {
        "tags": [
          "ReasonCode"
        ],
        "summary": "Read Reason Code By ID",
        "description": "This method will return the list of reason code by reason code ID.",
        "operationId": "read-reason-code-by-id",
        "parameters": [
          {
            "name": "reasoncode_id",
            "in": "path",
            "description": "The Reason Code ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonCode"
                },
                "examples": {
                  "example": {
                    "value": {
                      "reason_class": "MiscIssue",
                      "reason_code": "DMG",
                      "reason_desc": "Damage goods",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ReasonCode"
        ],
        "summary": "Delete Reason Code",
        "description": "This method gives a site the option to delete one Reason Code from the Reason Codes list.\n\n## Exception\nReason code is unable to delete if:\n\n- At least one material/machine/job transaction exists for the reason code\n\nReason code will be immediately removed. This action is not reversible.",
        "operationId": "delete-reason-code",
        "parameters": [
          {
            "name": "reasoncode_id",
            "in": "path",
            "description": "The Reason Code ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "ReasonCode"
        ],
        "summary": "Update Reason Code",
        "description": "Use this method to change aspects of an existing reason code.\n\nThese entities are read only :\n- reason_class\n- reasoncode_ID",
        "operationId": "update-reason-code",
        "parameters": [
          {
            "name": "reasoncode_id",
            "in": "path",
            "description": "The Reason Code ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/workcenters": {
      "post": {
        "tags": [
          "WorkCenter"
        ],
        "summary": "Create Work Centers",
        "description": "This method gives a Site admin the option to create work center for a given Site.\n\n### Work Center Input Attributes:\nIn order to create a warehouse, the following are required field\n- **Work Center**: The designated code given to the work center\n- **Active**: Indicate the active status of work center. 0 - Inactive, 1 - Active",
        "operationId": "create-work-centers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkCenter"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "WorkCenter"
        ],
        "summary": "List Work Centers",
        "description": "This method allow to retrieve a list of work centers.",
        "operationId": "list-work-centers",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkCenter"
                },
                "examples": {
                  "example": {
                    "value": {
                      "wc_num": "ASSY-01",
                      "wc_desc": "Assembly Station 1",
                      "wc_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workcenters/{workcenter_id}": {
      "get": {
        "tags": [
          "WorkCenter"
        ],
        "summary": "Read Work Center by ID",
        "description": "This method allow to retrieve a list of work center by work center ID.",
        "operationId": "read-work-center-by-id",
        "parameters": [
          {
            "name": "workcenter_id",
            "in": "path",
            "description": "The Work Center ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkCenter"
                },
                "examples": {
                  "example": {
                    "value": {
                      "wc_num": "ASSY-01",
                      "wc_desc": "Assembly Station 1",
                      "wc_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WorkCenter"
        ],
        "summary": "Delete Work Center",
        "description": "This method gives a site the option to delete one work center from the Work Centers list if\n\n## Exception\nWork Center is unable to delete if:\n\n- Work Center exists in any Job Route\n\nThis work center will be immediately removed. This action is not reversible.",
        "operationId": "delete-work-center",
        "parameters": [
          {
            "name": "workcenter_id",
            "in": "path",
            "description": "The Work Center ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "WorkCenter"
        ],
        "summary": "Update Work Center",
        "description": "Use this method to change aspects of an existing work center.\n\nThese entities are read only :\n- workcenter_id",
        "operationId": "update-work-center",
        "parameters": [
          {
            "name": "workcenter_id",
            "in": "path",
            "description": "The Work Center ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Read Customers by ID",
        "description": "This method allow to retrieve the customer properties by customer ID.",
        "operationId": "read-customers-by-id",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "example": {
                    "value": {
                      "cust_num": "C0099",
                      "cust_name": "Three Trading Inc",
                      "cust_status": 1,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Update Customer",
        "description": "Use this method to change aspects of an existing customer.\n\nThese entities are read only :\n- id\n- cust_num\n- site_id\n",
        "operationId": "update-customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Customer"
        ],
        "summary": "Delete a Customer",
        "description": "This method gives a site the option to delete one Customer from the Customers list.\n\n## Exception: \nCustomer is unable to delete if:\n   - Customer exists in Customer Order Item\n\nThis Customer will be immediately removed. This action is not reversible.",
        "operationId": "delete-a-customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "The Customer ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/uoms": {
      "post": {
        "tags": [
          "UOM"
        ],
        "summary": "Create UOM",
        "description": "This method gives a Site admin the option to create UOM for a given Site.\n\n### UOM Input Attributes:\nIn order to create a UOM, the following are required field\n- **UOM**: The designated code given to the unit of measurement\n- **Description**: Description of the UOM\n- **Rounding Decimals**: Determines the number of decimal places the unit of measurement",
        "operationId": "create-uom",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUOMRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "uom_num": "KG",
                    "uom_desc": "Kilogram",
                    "rounding": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "UOM"
        ],
        "summary": "List UOM",
        "description": "Use this method to retrievve the List of UOM from iCAPT.",
        "operationId": "list-uom",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOM"
                },
                "examples": {
                  "example": {
                    "value": {
                      "uom_num": "KG",
                      "uom_desc": "Kilogram",
                      "rounding": 2,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/uoms/{uom_id}": {
      "get": {
        "tags": [
          "UOM"
        ],
        "summary": "Read UOM by ID",
        "description": "Use this method to retrievve the List of UOM from iCAPT by UOM ID.",
        "operationId": "read-uom-by-id",
        "parameters": [
          {
            "name": "uom_id",
            "in": "path",
            "description": "The UOM ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UOM"
                },
                "examples": {
                  "example": {
                    "value": {
                      "uom_num": "KG",
                      "uom_desc": "Kilogram",
                      "rounding": 2,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "UOM"
        ],
        "summary": "Delete UOM",
        "description": "This method gives a site the option to delete one UOM from the UOM list.\n\n## Exception\nUOM is unable to delete if:\n\n- At least one Item/PO Line /CO Line/Job/Job Material/Transfer Order  exists for the UOM\n\nThis UOM will be immediately removed. This action is not reversible.",
        "operationId": "delete-uom",
        "parameters": [
          {
            "name": "uom_id",
            "in": "path",
            "description": "The UOM ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "UOM"
        ],
        "summary": "Update  UOM",
        "description": "Use this method to change aspects of an existing UOM.\n\nThese entities are read only :\n- UOM_ID",
        "operationId": "update-uom",
        "parameters": [
          {
            "name": "uom_id",
            "in": "path",
            "description": "The UOM ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/tasks": {
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Create Tasks",
        "description": "This method gives a Site admin the option to create a task for a given Site.\n\n### Reason Code Input Attributes:\nIn order to create a task, the following are required field\n- **Code**: Indirect task code\n- **Description**: Description of the indirect task",
        "operationId": "create-tasks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "List Tasks",
        "description": "This method allow to retrieve a list of task.",
        "operationId": "list-tasks",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "examples": {
                  "example": {
                    "value": {
                      "task_name": "KAIZEN",
                      "task_desc": "Kaizen Activity",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{task_id}": {
      "get": {
        "tags": [
          "Task"
        ],
        "summary": "Read Tasks by ID",
        "description": "This method allow to retrieve a list of task by task ID.",
        "operationId": "read-tasks-by-id",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "The Task ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "examples": {
                  "example": {
                    "value": {
                      "task_name": "KAIZEN",
                      "task_desc": "Kaizen Activity",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Task"
        ],
        "summary": "Delete Task",
        "description": "This method gives a site the option to delete one Task from the Task list.\n\n## Exception\nTask is unable to delete if:\n\n- Indirect task exist in at least one job transaction\n\nTask will be immediately removed. This action is not reversible.",
        "operationId": "delete-task",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "The Task ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Update Task",
        "description": "Use this method to change aspects of an existing task.\n\nThese entities are read only :\n- task_ID",
        "operationId": "update-task",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "The Task ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/vendors": {
      "post": {
        "tags": [
          "Vendor"
        ],
        "summary": "Create Vendors",
        "description": "This method gives a Site admin the option to create vendors for a given Site.\n\n### Vendor Input Attributes:\nIn order to create a vendor, the following are required field\n- **Vendor Code**: The designated code given to the vendor\n- **Vendor Name**: Description or full name of the vendor\n- **Active**: Indicate the active status of vendor. 0 - Inactive, 1 - Active",
        "operationId": "create-vendors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Vendor"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Vendor"
        ],
        "summary": "List Vendors",
        "description": "This method allow to retrieve a list of vendors.",
        "operationId": "list-vendors",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                },
                "examples": {
                  "example": {
                    "value": {
                      "vend_num": "V0001",
                      "vend_name": "MPH",
                      "vend_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/vendors/{vendor_id}": {
      "get": {
        "tags": [
          "Vendor"
        ],
        "summary": "Read Vendors by ID",
        "description": "This method allow to retrieve a list of vendors by vendor ID.",
        "operationId": "read-vendors-by-id",
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The Vendors ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                },
                "examples": {
                  "example": {
                    "value": {
                      "vend_num": "V0001",
                      "vend_name": "MPH",
                      "vend_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Vendor"
        ],
        "summary": "Delete Vendor",
        "description": "This method gives a site the option to delete one Vendor from the Vendors list.\n\n## Exception\nVendor is unable to delete if:\n\n- Purchase Order exists for this Vendor\n\nVendor will be immediately removed. This action is not reversible.",
        "operationId": "delete-vendor",
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The Vendors ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Vendor"
        ],
        "summary": "Update Vendor",
        "description": "Use this method to change aspects of an existing vendor.\n\nThese entities are read only :\n- vendor_ID",
        "operationId": "update-vendor",
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The Vendors ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vendor"
                },
                "examples": {
                  "example": {
                    "value": {
                      "vend_num": "V0001",
                      "vend_name": "MPH",
                      "vend_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": ""
          },
          "422": {
            "description": ""
          }
        }
      }
    },
    "/itemlocs": {
      "post": {
        "tags": [
          "ItemLocation"
        ],
        "summary": "Create Item Locations",
        "description": "This method gives a Site admin the option to create an Item Location for a given Site.\n\n### Items Location Input Attributes:\nIn order to create a new item location, the following are required field\n- **Warehouse**: Identifies the warehouse the item is stored in\n- **Location**: Identified the specific location within abovementioned warehouse the item is stored in\n- **Item**: Identifies the item that is stored in the abovementioned warehouse and location\n- **Qty on hand**: The total number of units in the warehouse location at the current time\n- **Rank**: Location ranking of the item. 1 being the highest and will be the default location for this item",
        "operationId": "create-item-locations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItemLocationRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "whse_num": "MAIN",
                    "loc_num": "L001",
                    "item_num": "I0001",
                    "qty_on_hand": 30,
                    "rank": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "ItemLocation"
        ],
        "summary": "List Item Locations",
        "description": "This method will return the list of item locations.",
        "operationId": "list-item-locations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemLocation"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "item_num": "I001",
                      "qty_on_hand": 30,
                      "UOM": "EA",
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/itemlocs/{itemloc_id}": {
      "get": {
        "tags": [
          "ItemLocation"
        ],
        "summary": "Read Item Locations by ID",
        "description": "This method allow to retrieve item locations by item location ID.",
        "operationId": "read-item-locations-by-id",
        "parameters": [
          {
            "name": "itemloc_id",
            "in": "path",
            "description": "The Item Location ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ItemLocation"
                },
                "examples": {
                  "example": {
                    "value": {
                      "loc_num": "L001",
                      "whse_num": "MAIN",
                      "item_num": "I001",
                      "qty_on_hand": 30,
                      "UOM": "EA",
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ItemLocation"
        ],
        "summary": "Delete Item Location",
        "description": "This method gives a site the option to delete one Item Location from the Item Locations list.\n\n## Exception:\nItem location is unable to delete if:\n-  Qty On Hand is not 0\n\nThis Item Location will be immediately removed. This action is not reversible.",
        "operationId": "delete-item-location",
        "parameters": [
          {
            "name": "itemloc_id",
            "in": "path",
            "description": "The Item Location ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "ItemLocation"
        ],
        "summary": "Update Item Location",
        "description": "Use this method to update the item location.\n\nThe following properties are read only:\n-id\n-whse_num\n-loc_num\n-item_num\n-site_id",
        "operationId": "update-item-location",
        "parameters": [
          {
            "name": "itemloc_id",
            "in": "path",
            "description": "The Item Location ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/lotlocs": {
      "post": {
        "tags": [
          "LotLocation"
        ],
        "summary": "Create Lot Locations",
        "description": "Use this method to create a new Lot Locations in iCAPT.\n\n- To be create in lot location, item need to be as a lot track item.",
        "operationId": "create-lot-locations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLotLocationRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "whse_num": "MAIN",
                    "loc_num": "L001",
                    "item_num": "I011",
                    "lot_num": "S07092020",
                    "qty_on_hand": 40
                  }
                }
              }
            }
          },
          "description": ""
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "LotLocation"
        ],
        "summary": "List Lot Locations",
        "description": "This method will return a list of Item Lot Locations from iCAPT.",
        "operationId": "list-lot-locations",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LotLocation"
                },
                "examples": {
                  "example": {
                    "value": {
                      "whse_num": "MAIN",
                      "loc_num": "L001",
                      "item_num": "I011",
                      "lot_num": "S07092020",
                      "qty_on_hand": 40,
                      "uom": "EA",
                      "qty_on_rsvd": 0,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lotlocs/{lotloc_id}": {
      "delete": {
        "tags": [
          "LotLocation"
        ],
        "summary": "Delete Lot Location",
        "description": "This method gives a site the option to delete one Lot Location from the Lot Locations list.\n\n## Exception: \nLot Location is unable to delete if:\n-  Qty On Hand is not 0\n\nThis Lot Location will be immediately removed. This action is not reversible.",
        "operationId": "delete-lot-location",
        "parameters": [
          {
            "name": "lotloc_id",
            "in": "path",
            "description": "The Lot Location ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "LotLocation"
        ],
        "summary": "Update Lot Location",
        "description": "Use this method to update item lot location.\n",
        "operationId": "update-lot-location",
        "parameters": [
          {
            "name": "lotloc_id",
            "in": "path",
            "description": "The Lot Location ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/employees": {
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Create Employees",
        "description": "Create an Employees in iCAPT by sending the POST request.\n\n### Employees Input Attributes:\nIn order to create a employee, the following are required field\n- **Employee Number**: A unique number to identifies the employee\n- **Employee Name**: Description/Name of employee\n- **Shift**: Employee Shift",
        "operationId": "create-employees",
        "requestBody": {
          "description": "Request Field",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeRequest"
              },
              "example": {
                "emp_num": "string",
                "emp_name": "string",
                "shift": 0
              },
              "examples": {
                "example": {
                  "value": {
                    "emp_num": "E0001",
                    "emp_name": "John",
                    "emp_shift": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "List Employees",
        "description": "This method will return the list of Employees created from iCAPT.",
        "operationId": "list-employees",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                },
                "examples": {
                  "example": {
                    "value": {
                      "emp_num": "E0001",
                      "emp_name": "John",
                      "emp_shift": 3,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employees/{employee_id}": {
      "get": {
        "tags": [
          "Employee"
        ],
        "summary": "Read Employees by ID",
        "description": "This method allow to retrieve the employee properties by employee ID.",
        "operationId": "read-employees-by-id",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The Employee ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Employee"
                },
                "examples": {
                  "example": {
                    "value": {
                      "emp_num": "E0001",
                      "emp_name": "John",
                      "emp_shift": 3,
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employee"
        ],
        "summary": "Update  Employee",
        "description": "Use this method to change aspects of an existing employee.\n\nThese entities are read only :\n- id\n- emp_num\n- site_id\n",
        "operationId": "update-employee",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The Employee ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Employee"
        ],
        "summary": "Delete an Employee",
        "description": "This method gives a site the option to delete one Employee from the Employees list.\n\n## Exception:\nEmployee is unable to delete if:\n   - Employee exists as a Counter\n\nThis Employee will be immediately removed. This action is not reversible.",
        "operationId": "delete-an-employee",
        "parameters": [
          {
            "name": "employee_id",
            "in": "path",
            "description": "The Employee ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      }
    },
    "/machines": {
      "post": {
        "tags": [
          "Machine"
        ],
        "summary": "Create Machines",
        "description": "This method gives a Site admin the option to create a Machine for a given Site.\n\n### Machine Input Attributes:\nIn order to create a machine, the following are required field\n- **Machine ID**: A unique code to identifies the machine\n- **Description**: Description of the machine\n- **Active**: Identifies the active status of the machine. 0 - Inactive, 1 - Active\n",
        "operationId": "create-machines",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMachineRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "res_id": "BR-2300",
                    "res_desc": "Drilling Machine",
                    "res_status": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "List Machines",
        "description": "Use this method to retrieve the list of Machines from iCAPT.",
        "operationId": "list-machines",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                },
                "examples": {
                  "example": {
                    "value": {
                      "res_id": "BR-2300",
                      "res_desc": "Drilling Machine",
                      "res_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/machines/{machine_id}": {
      "get": {
        "tags": [
          "Machine"
        ],
        "summary": "Read Machines by  ID",
        "description": "Use this method to retrieve a list of Machines by machine ID.",
        "operationId": "read-machines-by-id",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                },
                "examples": {
                  "example": {
                    "value": {
                      "res_id": "BR-2300",
                      "res_desc": "Drilling Machine",
                      "res_status": 1,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Machine"
        ],
        "summary": "Delete Machine",
        "description": "This method gives a site the option to delete one Machine from the Machines list.\n\n## Exception: \nMachine is unable to delete if:\n-  Mahcine exist in at least one material/job transaction\n\n\nMachine will be immediately removed. This action is not reversible.",
        "operationId": "delete-machine",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "Machine"
        ],
        "summary": "Update Machine",
        "description": "Use this method to update machine.\n\nThese entities are read only :\n- machine_ID",
        "operationId": "update-machine",
        "parameters": [
          {
            "name": "machine_id",
            "in": "path",
            "description": "The Machine ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/customerorders": {
      "post": {
        "tags": [
          "CustomerOrder"
        ],
        "summary": "Create Customers Orders",
        "description": "Use this method to create a Customer Orders.\n\n### Customer Order Input Attributes:\nIn order to create a customer order, the following are required field\n- **CO Number**: A CO Number uniquely identifies a customer order\n- **CO Line**: Line Item\n- **CO Release**: Release or sub-line\n- **Warehouse**: Warehouse to ship from.\n- **Item**: Item that is ordered by customer \n- **Due Date**: Target shipping date\n- **Status**: Status of the CO\n- **Customer Code**: Customer of the order\n- **Qty Ordered**: Quantity of the item ordered \n- **Qty Released**: Quantity of the item to be order on this specified CO",
        "operationId": "create-customers-orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerOrder"
              },
              "examples": {
                "example": {
                  "value": {
                    "co_num": "C0002",
                    "co_line": "2",
                    "co_rel": "0",
                    "qty_released": 30,
                    "cust_num": "MZ01",
                    "add_num": "A0001",
                    "due_date": "29/09/2020",
                    "do_num": "DO007",
                    "qty_ordered": 50,
                    "item_num": "I0001",
                    "whse_num": "MAIN",
                    "rel_status": "O"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "CustomerOrder",
          "GET"
        ],
        "summary": "List Customer Orders",
        "description": "The method allow you to retrieve the list of Customer Orders in ICAPT.",
        "operationId": "list-customer-orders",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOrder"
                },
                "examples": {
                  "example": {
                    "value": {
                      "co_num": "C0002",
                      "co_line": "2",
                      "co_rel": "0",
                      "qty_released": 30,
                      "cust_num": "MZ01",
                      "add_num": "A0001",
                      "due_date": "29/09/2020",
                      "do_num": "DO007",
                      "qty_ordered": 50,
                      "qty_shipped": 30,
                      "qty_returned": 3,
                      "item_num": "I0001",
                      "item_desc": "E1 Motor 21W 220V 50Hz",
                      "whse_num": "MAIN",
                      "uom": "EA",
                      "rel_status": "O",
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "27-09-2019",
                      "modfied_date": "12-06-2020"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customerorders/{custorders_id}": {
      "get": {
        "tags": [
          "CustomerOrder"
        ],
        "summary": "Read Customer Orders by ID",
        "description": "This method allows to retrieve Customer Orders by the CO number.",
        "operationId": "read-customer-orders-by-id",
        "parameters": [
          {
            "name": "custorders_id",
            "in": "path",
            "description": "The Customer Order Item ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerOrder"
                },
                "examples": {
                  "example": {
                    "value": {
                      "co_num": "C0002",
                      "co_line": "2",
                      "co_rel": "0",
                      "qty_released": 30,
                      "cust_num": "MZ01",
                      "add_num": "A0001",
                      "due_date": "29/09/2020",
                      "do_num": "DO007",
                      "qty_ordered": 50,
                      "qty_shipped": 30,
                      "qty_returned": 3,
                      "item_num": "I0001",
                      "item_desc": "E1 Motor 21W 220V 50Hz",
                      "whse_num": "MAIN",
                      "uom": "EA",
                      "rel_status": "O",
                      "site_ID": "demo",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transferorders": {
      "post": {
        "tags": [
          "TransferOrder"
        ],
        "summary": "Create Transfer Orders",
        "description": "This method gives a Site admin the option to create a transfer order for a given Site.\n\n### Transfer Order Input Attributes:\nIn order to create a tranfer order, the following are required field\n- **TO number**: A TO Number uniquely identifies a transfer order\n- **From Warehouse**: Warehouse transfer order from\n- **TO Warehouse**: Warehouse transfer order to\n- **Status**: Status of the TO. Open - O, Completed - C",
        "operationId": "create-transfer-orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferOrder"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "TransferOrder"
        ],
        "summary": "List Transfer Orders",
        "description": "This method allow to retrieve a list of transfer order.",
        "operationId": "list-transfer-orders",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferOrder"
                },
                "examples": {
                  "example": {
                    "value": {
                      "trn_num": "TO01",
                      "from_whse": "MAIN",
                      "to_whse": "DIST",
                      "stat": "O",
                      "from_site": null,
                      "to_site": null,
                      "trn_loc": null,
                      "driver_name": "Jane",
                      "schedule_receive_date": "2020-06-12",
                      "schedule_ship_date": "2020-06-10",
                      "pickup_date": "2020-06-10",
                      "driver_contact": null,
                      "vehicle_num": null,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transferorders/{transorder_id}": {
      "get": {
        "tags": [
          "TransferOrder"
        ],
        "summary": "Read Transfer Order by ID",
        "description": "This method allow to retrieve a list of transfer order by transfer order ID.",
        "operationId": "read-transfer-order-by-id",
        "parameters": [
          {
            "name": "transorder_id",
            "in": "path",
            "description": "The Transfer Order ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferOrder"
                },
                "examples": {
                  "example": {
                    "value": {
                      "trn_num": "TO01",
                      "from_whse": "MAIN",
                      "to_whse": "DIST",
                      "stat": "O",
                      "from_site": null,
                      "to_site": null,
                      "trn_loc": null,
                      "driver_name": "Jane",
                      "schedule_receive_date": "2020-06-12",
                      "schedule_ship_date": "2020-06-10",
                      "pickup_date": "2020-06-10",
                      "driver_contact": null,
                      "vehicle_num": null,
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TransferOrder"
        ],
        "summary": "Delete Transfer Order",
        "description": "This method gives a site the option to delete one Transfer Order from the Transfer Orders list. \n\n## Exception\nTransfer order is unable to delete if:\n\n- Transfer Order status is Completed\n- Qty Shipped, Qty Transferred or Qty Loss is not 0\n- Material Transaction exists for Transfer Order\n\nTransfer Order will be immediately removed. This action is not reversible.",
        "operationId": "delete-transfer-order",
        "parameters": [
          {
            "name": "transorder_id",
            "in": "path",
            "description": "The Transfer Order ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "TransferOrder"
        ],
        "summary": "Update Transfer Order",
        "description": "se this method to change aspects of an existing transfer order.\n\nThese entities are read only :\n- transferorder_ID\n- to_warehouese\n- from_warehouse",
        "operationId": "update-transfer-order",
        "parameters": [
          {
            "name": "transorder_id",
            "in": "path",
            "description": "The Transfer Order ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/joborders": {
      "post": {
        "tags": [
          "JobOrder"
        ],
        "summary": "Create Job Orders",
        "description": "Use this method to create Job Order in iCAPT.\n\n### Job Order Input Attributes:\nIn order to create a new job order, the following are required field\n- **Job ID**: Unique ID to identifies the job order\n- **Warehouse**: Warehouse to receive in\n- **Customer Code**: Customer for this job order\n- **Item**: Item that is being produced from the order \n- **Job Date**: Job order creation date\n- **Start Date**: Date to begin production\n- **Qty Released**: The quantity required to be produce\n- **Status**: Status of the Job. Open (O), Released (R) or Completed (C) \n\n",
        "operationId": "create-job-orders",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobOrder"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "JobOrder"
        ],
        "summary": "List Job Orders",
        "description": "This method will return the list of job orders from iCAPT.",
        "operationId": "list-job-orders",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrder"
                },
                "examples": {
                  "example": {
                    "value": {
                      "job_num": "J0001",
                      "whse_num": "MAIN",
                      "UOM": "EA",
                      "job_date": "2020-01-30",
                      "start_date_plan": "2020-02-12",
                      "end_date_plan": "2020-02-15",
                      "cust_num": "C001",
                      "item_num": "I001",
                      "qty_released": 30,
                      "qty_completed": 0,
                      "qty_scrapped": 0,
                      "site_ID": "demo",
                      "job_status": "R",
                      "notes": "To be involve in drilling",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/joborders/{joborder_id}": {
      "get": {
        "tags": [
          "JobOrder"
        ],
        "summary": "Read Job Order by ID",
        "description": "This method allow to retrieve job order list from iCAPT by job order ID.",
        "operationId": "read-job-order-by-id",
        "parameters": [
          {
            "name": "joborder_id",
            "in": "path",
            "description": "The Job Order ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobOrder"
                },
                "examples": {
                  "example": {
                    "value": {
                      "job_num": "J0001",
                      "whse_num": "MAIN",
                      "UOM": "EA",
                      "job_date": "2020-01-30",
                      "start_date_plan": "2020-02-12",
                      "end_date_plan": "2020-02-15",
                      "cust_num": "C001",
                      "item_num": "I001",
                      "qty_released": 30,
                      "qty_completed": 0,
                      "qty_scrapped": 0,
                      "site_ID": "demo",
                      "job_status": "R",
                      "notes": "To be involve in drilling",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "JobOrder"
        ],
        "summary": "Delete Job Order",
        "description": "This method gives a site the option to delete one Job Order from the Job Orders list.\n\n## Exception: \nJob order is unable to delete if:\n- Job Status is Completed\n- Qty Completed or Qty Scrapped is not 0 \n- At least one Material Transaction exists for this Job Order\n- Job order have existed job route\n\nJob Order will be immediately removed. This action is not reversible.",
        "operationId": "delete-job-order",
        "parameters": [
          {
            "name": "joborder_id",
            "in": "path",
            "description": "The Job Order ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "JobOrder"
        ],
        "summary": "Update Job Order",
        "description": "Update Job Order in iCAPT.\n\nThe following properties are read only:\n\n- joborder_id\n- whse_num\n- item_num\n- description\n- uom\n- qty_complete\n- qty_scrapped\n- site_id\n\nNot allow to update if:\n- If job order status = closed",
        "operationId": "update-job-order",
        "parameters": [
          {
            "name": "joborder_id",
            "in": "path",
            "description": "The Job Order ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/jobroutes": {
      "post": {
        "tags": [
          "JobRoute"
        ],
        "summary": "Create Job Route",
        "description": "Use this method to create a new job route in iCAPT.\n\n### Job Route Input Attributes:\nIn order to create a new job route, the following are required field\n- **Job ID**: Unique ID to identifies the job order\n- **Warehouse**: Warehouse to receive in\n- **Operation**: Sequence number of the process\n- **Work Center**: The station/work center performing this process\n- **Status**: Active flag. 0 - Inactive, 1 - Active",
        "operationId": "create-job-route",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobRoute"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "JobRoute"
        ],
        "summary": "List Job Routes",
        "description": "This method will return the list of job routes from iCAPT.",
        "operationId": "list-job-routes",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobRoute"
                },
                "examples": {
                  "example": {
                    "value": {
                      "job_num": "J0001",
                      "oper_num": "100",
                      "oper_status": "1",
                      "qty_moved": 30,
                      "qty_completed": 0,
                      "qty_received": 60,
                      "qty_scrapped": 4,
                      "notes": "A3 moved to zone2",
                      "wc_num": "Stamping",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jobroutes/{jobroute_id}": {
      "get": {
        "tags": [
          "JobRoute"
        ],
        "summary": "Read Job Route by ID",
        "description": "This method will return the list of job routes from iCAPT by job ID.",
        "operationId": "read-job-route-by-id",
        "parameters": [
          {
            "name": "jobroute_id",
            "in": "path",
            "description": "The Job Route ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobRoute"
                },
                "examples": {
                  "example": {
                    "value": {
                      "job_num": "J0001",
                      "oper_num": "100",
                      "oper_status": "1",
                      "qty_moved": 30,
                      "qty_completed": 0,
                      "qty_received": 60,
                      "qty_scrapped": 4,
                      "notes": "A3 moved to zone2",
                      "wc_num": "Stamping",
                      "site_id": "DEMO",
                      "created_by": "sysadmin",
                      "modified_by": "John",
                      "created_date": "2019-09-27",
                      "modfied_date": "2020-06-12"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "JobRoute"
        ],
        "summary": "Delete Job Route",
        "description": "This method gives a site the option to delete one Job Route from the Job Routes list. \n\n## Exception: \nJob route is unable to delete if:\n- Job status for this Job Route is Completed\n- Qty Moved, Qty Completed, Qty Received or Qty Scrapped is not 0\n- Material Transaction exists for this Job Route\n- Job route have existed job material\n\nJob Route will be immediately removed. This action is not reversible.",
        "operationId": "delete-job-route",
        "parameters": [
          {
            "name": "jobroute_id",
            "in": "path",
            "description": "The Job Route ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "post": {
        "tags": [
          "JobRoute"
        ],
        "summary": "Update Job Route",
        "description": "This method to update Job Route in iCAPT.\n\nThe following properties are read only:\n\n- joborder_id\n- oper_num\n- qty_moved\n- qty_completed\n- qty_received  \n- qty_scrapped\n\nNot allow to update if:\n- If job order status = closed",
        "operationId": "update-job-route",
        "parameters": [
          {
            "name": "jobroute_id",
            "in": "path",
            "description": "The Job Route ID",
            "required": true,
            "schema": {
              "type": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/jobmaterials": {
      "post": {
        "tags": [
          "JobMaterial"
        ],
        "summary": "Create Job Material",
[...]
